@font-face {
    font-family: "nexonLv1";
    font-weight: 100;
    font-style: normal;
    src: 
         url("../../fonts/nexonLv1.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: 
         url("../../fonts/nanumSquareNeo.woff") format("woff");
    font-display: swap;
}
